@charset "UTF-8";

.headerimg img{
	width: 100%;
	/* background-image: url("../upload/imggg.PNG");  */
	margin: 0 auto;
}

.imagediv {
	display: inline-block;
	margin-top: 40px;
	margin-right: 40px; 
	margin-bottom: 80px;
	height: 377px;
	width: 300px;
	border: 1px solid black; 
	border-radius: 30px; 
}

.imagediv #can{
	height: 200px;
	width: 100%;
	box-sizing: border-box;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}


.imagediv button{
	width: 100%;
	padding: 10px 0 ;
	background-color: #fdbb42;
	border: none;
	border-top: 1px solid black;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	outline: none;
	
}


#frm {
	margin: 0 0 0 20px;
}