@charset "UTF-8";



.imagediv {
	display: inline-block;
	margin-right: 30px; 
	margin-bottom: 30px;
	height: 300px;
	width: 300px;
	border: 1px solid black;
	
}

.imagediv #can{
	height: 200px;
	width: 300px;
	box-sizing: border-box;
}