* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.wrap {
    height: 100%;
    width: 100%;
    background-image: url(https://www.upinews.kr/data/upi/image/2020/02/06/upi202002060168.680x.0.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-wrap {
	background-color: lightcyan;
    width: 380px;
    height: 420px;
    position: relative;
    margin: 60px auto;
    padding: 5px;
    border: 1px solid black;
}


.input-group {
    top: 20px;
    position: absolute;
    width: 370px;
    transition: .5s;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.btn {
	width: 30%
}

#frm {
    animation: fadein 5s;
    -webkit-animation: fadein 5s; /* Safari and Chrome */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

