@charset "UTF-8";


.listdiv {
	display: inline-block;
	margin-right: 30px; 
	margin-bottom: 30px;
	height: 300px;
	width: 300px;
	border: 1px solid black;
}

.listdiv #ticketlistimg{
	height: 200px;
	width: 300px;
	box-sizing: border-box;
}


.listdiv button{
	width: 100%;
	padding: 10px 0 ;
	background-color: #fdbb42;
}