* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* .wrap {
	margin-top: 120px;
    background-position: right;
    background-size: cover;
    position: absolute;

}  */
.form-wrap {
	background-color: white;
    width: 100%;
   
}


.row {
    /* margin-left: 0px !important; */
    /* margin-right: 0px !important; */
    margin-top: 80px;
}


.input-group {
    top: 20px;
  
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.btn {
	width: 30%
}



div .imgbox img{
   width: 100%;
  
}
#frm {
    animation: fadein 5s;
    -webkit-animation: fadein 5s; /* Safari and Chrome */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

