@charset "UTF-8";



.headertext{
	font-size: 50px;
	text-align: center;
}

.listdiv {
	padding: 25px;
	display: inline-block;
	margin-right: 30px; 
	margin-bottom: 30px;
	height: 500px;
	width: 400px;
	border: 5px solid black;
	box-sizing: border-box; 
}

.listdiv #ticketlistimg{
	height: 200px;
	width: 100%;
	box-sizing: border-box;
}


.listdiv button{
	width: 100%;
	padding: 10px 0 ;
	background-color: #fdbb42;
	 
}

div h1{
	margin-top: 50px;
}


div .sun{
	margin-top: 70px;
}

.container button {
	width: 80px;
	height: 80px;
	border-radius : 50%; 
	float: right;
}


.yab{
	height: 200px;
}
.yab .ya{
	height: 120px;
	width: 120px;
	border-radius : 50%; 
	
}



