* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.wrap {
    height: 2000px;
    width: 1600px;
    background-position: right;
    background-size: cover;
    position: absolute;
}
.form-wrap {
	background-color: white;
    width: 380px;
    height: 600px;
    position: relative;
    margin: 0 0 0 800px;
    padding: 5px;
   
}


.input-group {
    top: 20px;
    position: absolute;
    width: 370px;
    transition: 5s;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.btn {
	width: 30%
}

div .imgbox{
   background-image: url(https://webmagazine.lanxess.com/wp-content/uploads/2017/07/Rollercoaster_web-1030x687.jpg); 
   width: 750px;
   height: 500px;
   position: absolute;
}
#frm {
    animation: fadein 5s;
    -webkit-animation: fadein 5s; /* Safari and Chrome */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

