@charset "UTF-8";

.headerimg img{
	width: 100%;
	/* background-image: url("../upload/imggg.PNG");  */
	margin: 0 auto;
}

.imagediv {
	display: inline-block;
	margin-right: 30px; 
	margin-bottom: 80px;
	height: 300px;
	width: 300px;
	
}

.imagediv #can{
	height: 200px;
	width: 300px;
	box-sizing: border-box;
}


.imagediv button{
	width: 100%;
	padding: 10px 0 ;
	background-color: #fdbb42;
}


#frm {
	margin: 0 0 0 20px;
}