@charset "UTF-8";
table.type09 {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
	vertical-align: middle;
}
table.type09 thead th {
    padding: 10px;
    font-weight: bold;
	vertical-align: middle;
    color: #369;
    border-bottom: 3px solid #036;
}
table.type09 tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
table.type09 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.myButton {
	background-color:#a9a9a9;
	border-radius:28px;
	border:1px solid #666666;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}
