@charset "UTF-8";
	
	
	h2#attr_name{
	    font-family: 'NotoSans-Bold', '맑은 고딕', 'Malgun Gothic', sans-serif;
	    font-size: 50px;
	    color: #000;
	    text-align: center;
	    padding-top: 40px;
	}
	
	
	.attr_menuback {
	    text-align: center;
	    display: inline-block;
	    cursor: pointer;
	    color: #FFFFFF;
	    padding: 9px 18px;
	    font-family: Arial;
	    font-size: 16px;
	    border-radius: 5px;
	    background: linear-gradient( #dffffc 5%, #9fb4ff 100%);
	    box-shadow: 0px 10px 14px -7px #616174;
	}
	 .attr_menuback:hover {
	    background: linear-gradient( #9fb4ff 5%, #dffffc 100%);
	}
	 .attr_menuback:active {
	    position: relative;
	    top: 1px;
	}

	
	/* 메뉴로 돌아가기 버튼 */
	
	@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
	div#attr_back_menu{
	    text-align: center;
	}
	
	.button {
	  width: 170px;
	  padding-top: 30px;
	  padding-bottom: 30px;
	  text-align: center;
	  color: #000;
	  text-transform: uppercase;
	  font-weight: 600;
	  margin-left: 30px;
	  margin-bottom: 30px;
	  cursor: pointer;
	  display: inline-block;
	}
	
	.button-3 {
	    border: 2px solid #bbb;
	    background-color: #bbb;
	    border-radius: 20px;
	    color: #fff;
	    transition: .3s;
	}
	.button-3:hover {
	  box-shadow: 8px 8px #e1e1e1;
	  transition: .3s;
	}
	
	.button4 {
	  width: 100px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  text-align: center;
	  color: #000;
	  text-transform: uppercase;
	  font-weight: 600;
	  margin-left: 30px;
	  margin-bottom: 30px;
	  cursor: pointer;
	  display: inline-block;
	}
	.button-4 {
	    border: 2px solid #aaa;
	    background-color: #aaa;
	    border-radius: 20px;
	    color: #fff;
	    transition: .3s;
	}
	.button-4:hover {
	  box-shadow: 8px 8px #e1e1e1;
	  transition: .3s;
	}
	.button5 {
	  width: 40%;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  text-align: center;
	  color: #000;
	  text-transform: uppercase;
	  font-weight: 600;
	  margin-left: 30px;
	  margin-bottom: 30px;
	  cursor: pointer;
	  display: inline-block;
	}
	.button-5 {
	    border: 2px solid #aaa;
	    background-color: #aaa;
	    border-radius: 20px;
	    color: #fff;
	    transition: .3s;
	}
	.button-5:hover {
	  box-shadow: 8px 8px #e1e1e1;
	  transition: .3s;
	}
	
	@keyframes pulse {
	  0% {
	    transform: scale(1);
	  }
	  70% {
	    transform: scale(.9);
	  }
	    100% {
	    transform: scale(1);
	  }
	}
	
/* TODO 색상 바꾸기 */	
.jb-text {
		   position: absolute;
		   width: 100%;
		   height: 20px;
		   color: #fff;
		   font-family: 'NotoSans-Bold', '맑은 고딕', 'Malgun Gothic', sans-serif;
		   font-size: 30px; top:130px; left: 15%;
			}
		#select_label{font-size: 10px;margin-left: 20px;}
		#attr_location{width : 120px;font-size: 10px;color: #1d1d1d;border-radius: 2px;}
		#attr_age{width : 120px;font-size: 10px;color: #1d1d1d;border-radius: 2px;}
		#attr_height{width : 120px;height:30px;font-size: 8px;color: #1d1d1d;border-radius: 2px;}
		#attr_search{width : 120px;height:30px;font-size: 8px;color: #1d1d1d;margin-left: 40px;}
		.button-3{width : 80%; font-size: 18px;}
		.button-4{width : 60%; font-size: 18px; font-weight:200;}
		.button-5{font-size: 15px; font-weight:180;}
		
/* Tablet &amp; Desktop Device */
@media all and (min-width:580px) {
    .jb-text {
	   position: absolute;
	   width: 100%;
	   height: 20px;
	   color: #fff;
	   font-family: 'NotoSans-Bold', '맑은 고딕', 'Malgun Gothic', sans-serif;
	   font-size: 40px; top:130px; left: 20%;
		}
		
		#select_label{font-size: 12px;margin-left: 20px;}
		#attr_location{width : 130px;font-size: 10px;color: #1d1d1d;border-radius: 2px;}
		#attr_age{width : 130px;font-size: 10px;color: #1d1d1d;border-radius: 2px;}
		#attr_height{width : 130px;height:30px;font-size: 10px;color: #1d1d1d;border-radius: 2px;}
		#attr_search{width : 130px;height:30px;font-size: 10px;color: #1d1d1d;margin-left: 40px;}
		.button-3{width : 80%; font-size: 22px;}
		.button-4{width : 60%; font-size: 20px; font-weight:300;}
		.button-5{font-size: 18px; font-weight:200;}
		
}

/* Tablet Device */
@media all and (min-width:768px) and (max-width:992px) {
	.jb-text {
		   position: absolute;
		   width: 100%;
		   height: 20px;
		   color: #fff;
		   font-family: 'NotoSans-Bold', '맑은 고딕', 'Malgun Gothic', sans-serif;
		   font-size: 60px; top:140px; left: 18%;
			}
		#select_label{font-size: 15px;margin-left: 20px;}
		#attr_location{width : 130px;font-size: 12px;color: #1d1d1d;border-radius: 4px;}
		#attr_age{width : 130px;height:40px;font-size: 12px;color: #1d1d1d;border-radius: 4px;}
		#attr_height{width : 130px;height:40px;font-size: 12px;color: #1d1d1d;border-radius: 2px;}
		#attr_search{width : 400px;height:40px;font-size: 15px;color: #1d1d1d;margin-left: 130px;}
		.button-3{width : 80%; font-size: 25px;}
		.button-4{width : 40%; font-size: 20px;font-weight:300;}
		.button-5{font-size: 18px; font-weight:250;}
		
}

/* Desktop Device */
@media all and (min-width: 992px) {
	.jb-text {
		   position: absolute;
		   width: 100%;
		   height: 20px;
		   color: #fff;
		   font-family: 'NotoSans-Bold', '맑은 고딕', 'Malgun Gothic', sans-serif;
		   font-size: 80px; top:150px; left: 17%;
			}
			
		#select_label{font-size: 20px;margin-left: 5px;}
		#attr_location{width : 170px;height : 44px;font-size: 14px;color: #1d1d1d;border-radius: 6px;}
		#attr_age{width : 170px;height : 44px;font-size: 14px;color: #1d1d1d;border-radius: 6px;}
		#attr_height{width : 120px;height : 44px;font-size: 14px;color: #1d1d1d;border-radius: 6px;}
		#attr_search{width : 100px;height : 44px;font-size: 20px;color: #1d1d1d;}
		.button-3{width : 80%; font-size: 30px;}
		.button-4{width : 20%; font-size: 25px;font-weight:350;}
		.button-5{font-size: 20px; font-weight:300;}
		
}

/* Desktop Device */
@media all and (min-width:1200px) {
	.jb-text {
		   position: absolute;
		   height: 20px;
		   color: #fff;
		   font-family: 'NotoSans-Bold', '맑은 고딕', 'Malgun Gothic', sans-serif;
		   font-size: 100px; top:180px; left: 15%%;
			}
		
		#select_label{font-size: 24px;}
		#attr_location{width : 190px;height : 45px; font-size: 15px;color: #1d1d1d;border-radius: 8px;}
		#attr_age{width : 190px;height : 45px; font-size: 15px;color: #1d1d1d;border-radius: 8px;}
		#attr_height{width : 160px;height : 45px; font-size: 15px;color: #1d1d1d;border-radius: 4px;}
		#attr_search{width : 100px;height : 45px; font-size: 15px;color: #1d1d1d;}
		.button-3{width : 80%; font-size: 35px;}
		.button-4{width : 20%; font-size: 25px; font-weight:400;}
		.button-5{font-size: 20px; font-weight:350;}
		
}

/* admin view 테이블*/

