@charset "UTF-8";
	
	
	h2#attr_name{
	    font-family: 'NotoSans-Bold', '맑은 고딕', 'Malgun Gothic', sans-serif;
	    font-size: 50px;
	    color: #000;
	    text-align: center;
	    padding-top: 40px;
	}
	
	
	.attr_menuback {
	    text-align: center;
	    display: inline-block;
	    cursor: pointer;
	    color: #FFFFFF;
	    padding: 9px 18px;
	    font-family: Arial;
	    font-size: 16px;
	    border-radius: 5px;
	    background: linear-gradient( #dffffc 5%, #9fb4ff 100%);
	    box-shadow: 0px 10px 14px -7px #616174;
	}
	 .attr_menuback:hover {
	    background: linear-gradient( #9fb4ff 5%, #dffffc 100%);
	}
	 .attr_menuback:active {
	    position: relative;
	    top: 1px;
	}

	
	/* 메뉴로 돌아가기 버튼 */
	
	@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
	div#attr_back_menu{
	    text-align: center;
	}
	
	.button {
	  width: 170px;
	  padding-top: 30px;
	  padding-bottom: 30px;
	  text-align: center;
	  color: #000;
	  text-transform: uppercase;
	  font-weight: 600;
	  margin-left: 30px;
	  margin-bottom: 30px;
	  cursor: pointer;
	  display: inline-block;
	}
	
	.button-3 {
	    width: 800px;
	    border: 2px solid #bbb;
	    background-color: #bbb;
	    border-radius: 20px;
	    color: #fff;
	    transition: .3s;
	}
	.button-3:hover {
	  box-shadow: 8px 8px #e1e1e1;
	  transition: .3s;
	}
	
	@keyframes pulse {
	  0% {
	    transform: scale(1);
	  }
	  70% {
	    transform: scale(.9);
	  }
	    100% {
	    transform: scale(1);
	  }
	}
	
.jb-text {
		   position: absolute;
		   width: 100%;
		   height: 20px;
		   color: #fff;
		   font-family: 'NotoSans-Bold', '맑은 고딕', 'Malgun Gothic', sans-serif;
		   font-size: 30px; top:130px; left: 15%;
			}

/* Tablet &amp; Desktop Device */
@media all and (min-width:580px) {
    .jb-text {
	   position: absolute;
	   width: 100%;
	   height: 20px;
	   color: #fff;
	   font-family: 'NotoSans-Bold', '맑은 고딕', 'Malgun Gothic', sans-serif;
	   font-size: 40px; top:130px; left: 20%;
		}
		.attr_box{
		height : 200px;
		}
}

/* Tablet Device */
@media all and (min-width:768px) and (max-width:992px) {
	.jb-text {
		   position: absolute;
		   width: 100%;
		   height: 20px;
		   color: #fff;
		   font-family: 'NotoSans-Bold', '맑은 고딕', 'Malgun Gothic', sans-serif;
		   font-size: 60px; top:140px; left: 18%;
			}
}

/* Desktop Device */
@media all and (min-width: 992px) {
	.jb-text {
		   position: absolute;
		   width: 100%;
		   height: 20px;
		   color: #fff;
		   font-family: 'NotoSans-Bold', '맑은 고딕', 'Malgun Gothic', sans-serif;
		   font-size: 80px; top:150px; left: 17%;
			}
}

/* Desktop Device */
@media all and (min-width:1200px) {
	.jb-text {
		   position: absolute;
		   height: 20px;
		   color: #fff;
		   font-family: 'NotoSans-Bold', '맑은 고딕', 'Malgun Gothic', sans-serif;
		   font-size: 100px; top:180px; left: 15%%;
			}
}