@charset "UTF-8";
 a{
        color: black;
      }
      .header{
        height: 99px;
      }
      .logo{
        padding: 10px 0 10px 0;
        float: left;
      }
      .nav{
        font-weight: 600;
        font-size: 18px;
      }
      .list-group-item{
        border: none;
      }
      .main_menu{
        float: left;
      }
      #menu_bar{
        float: left;
        list-style-type: none;
      }
      
      .fa-bars{
        font-size:30px;
        padding: 20px;
      }
      
    
      .login{
      	min-height: 750px;
      }
      
      footer .container {
        padding: 50px 0 160px;
      }

     
      .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
      }

      .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }

      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }

      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }

      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }

      @media screen and (max-height: 450px) {
        .overlay a {font-size: 20px}
        .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
        }
      }

      @media (min-width:693px) and (max-width:892px){
        img{
          margin-right: 50px;
        }
        .bottom p span{
          font-size: 12px;
        }
      }

      @media screen and (max-width:692px) {
        .bottom p span{
          font-size: 10px;
        }
      }
      .mobile_ver{
        float: left;
      }
      
      .login-section{
      	margin-top:70px;
      }
      #login_id , #login_pw, .login_submit, #user_pw,#user_pw2, #user_name,
      #user_jumin, #user_age, #user_email {
      	width: 370px;
	    padding: 0 15px;
	    margin-bottom: 20px;
	    text-align: center;
	    height: 35px;
	    }
	    #user_id{
	    width: 280px;
	    }
	    label{
	    display: block !important;
	    }
	    
	      .main-banner{
        height:750px;
      }
      .best-text,.info-text{
        padding:75px 0 75px 0;
        font-size: 50px;
        font-weight: 700;
      }
      .best-attraction{
        margin-bottom: 30px;
      }
      .look-more{
        margin: 30px 0 30px 0;
        padding: 20px 0 20px 0;
      }
      .section-head{
        padding: 20px 0 20px 0;
      }
      .head1{
        font-weight: 700;
        font-size: 30px;
      }
    .days-times ,.news_notice_text{
    margin: 0 0 20px;
    padding: 25px 0 0;
    border-top: 1px solid #ececec;
    text-align: center;
}
.today-date {
    display: block;
    color: #272830;
    font-size: 20px;
    font-weight: 700;
}
.today-time {
    color: #ff4c2b;
    font-size: 41px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
}
.info-section{
  padding-bottom: 40px;
}
.info{
  padding: 30px 0 30px 0;
}
.price-con{
padding: 20px 0;
}
.mainTit {
    top: 150px;
    font-size: 40px;
    text-align: center;
    line-height: 1.3;
}
.mainTxt {
    top: 150px;
    font-size: 18px;
    color: #555;
    text-align: center;
}
.price-tol{
  border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
    box-sizing: border-box;
}
.price1,.price2,.price3,.price4{
    width: calc(50% - 0.1px);
    float: left;
    box-sizing: border-box;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
}
.row {
	margin-left:0px !important;
	margin-right:0px !important;
}   
@media (max-width:768px){
	.mainTit {
    top: 150px;
    font-size: 30px;
    text-align: center;
    line-height: 1.3;
    font-weight: 600;
}
} 
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}