@charset "UTF-8";

*{
	    font-family: 'NotoSans-Bold', '맑은 고딕', 'Malgun Gothic', sans-serif, ;
}

 a{
        color: black;
      }
      .header{
        height: 99px;
      }
      .logo{
        padding: 10px 0 10px 0;
        float: left;
      }
      .nav{
        font-weight: 600;
        font-size: 18px;
      }
      .list-group-item{
        border: none;
      }
      .main_menu{
        float: left;
      }
      #menu_bar{
        float: left;
        list-style-type: none;
      }
      
      .fa-bars{
        font-size:30px;
        padding: 20px;
      }
      
    
      .login{
      	min-height: 750px;
      }
      
      footer .container {
        padding: 50px 0 60px;
        margin-top: 25px;
      }

     
      .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
      }

      .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }

	 .overlay-content a {
	 	font-size:25px;
	 }

      .overlay a {
        padding: 8px;
        text-decoration: none;
       
        color: #818181;
        display: block;
        transition: 0.3s;
      }

      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }

      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }

      @media screen and (max-height: 450px) {
        .overlay a {font-size: 20px}
        .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
        }
      }

      @media (min-width:693px) and (max-width:892px){
        img{
          margin-right: 50px;
        }
        .bottom p span{
          font-size: 12px;
        }
      }

      @media screen and (max-width:692px) {
        .bottom p span{
          font-size: 10px;
        }
      }
      .mobile_ver{
        float: left;
      }
      
      .login-section{
      	margin-top:70px;
      }
      #login_id , #login_pw, .login_submit, #user_pw,#user_pw2, #user_name,
      #user_jumin,  #user_jumin2 ,#user_age, #user_email, #user_email2{
      	width: 370px;
	    padding: 0 15px;
	    margin-bottom: 20px;
	    text-align: center;
	    height: 35px;
	    }
	    #user_id{
	    width: 284px;
	    }
	    .find_id_submit,.find_pw_submit{
	    	width: 280px;
	    	margin-top: 10px;
	    }
	    label{
	    display: inline-block;
	    }
	    #login_label{
	    display: block !important;
	    }
	      .main-banner{
        height:100%;
      }
      .best-text,.info-text{
        padding:50px 0 65px 0;
        font-size: 50px;
        font-weight: 700;
      }
      @media screen and (max-width:768px){
	       .best-text,.info-text{
	        padding:40px 0 50px 0 !important;
	        font-size: 40px !important;
	      }
      }
      .best-attraction{
        margin-bottom: 30px;
      }
      .look-more{
        margin: 75px 0 30px 0;
        padding: 20px 0 20px 0;
      }
     
      .head1{
        font-weight: 600;
    	font-size: 22px;
        text-align: left;
      }
    .days-times ,.news_notice_text{
    margin: 0 0 20px;
    padding: 25px 0 0;
    text-align: center;
}
.today-date {
    display: block;
    color: #272830;
    font-size: 20px;
    font-weight: 700;
}
.today-time {
    color: #ff4c2b;
    font-size: 41px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
    display:inline-block;
}

.info{
  padding: 30px 0 30px 0;
}
.info-section2{
	border: 1px solid #ababab;
	padding: 25px;
}
.price-con{
padding: 20px 0;
}
.mainTit {
    top: 150px;
    font-size: 40px;
    text-align: center;
    line-height: 1.3;
}
.mainTxt {
    top: 150px;
    font-size: 18px;
    color: #555;
    text-align: center;
}
.price-tol{
  border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
    box-sizing: border-box;
}
.price1,.price2,.price3,.price4{
    width: calc(50% - 0.1px);
    float: left;
    box-sizing: border-box;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
}
.row {
	margin-left:0px !important;
	margin-right:0px !important;
}   
@media (max-width:768px){
	.mainTit {
    top: 150px;
    font-size: 30px;
    text-align: center;
    line-height: 1.3;
    font-weight: 600;
}
} 
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}



/* 김진영 : 239 ~  */
#user_email{
	width:173px !important;
}

#user_email2{
	width:170px !important;
}

#user_jumin{ 
	width:175px !important;
}

#user_jumin2{
	width:170px !important;
}







.intro-img{
    width: 100%;
  }
  .intro-head,.intro-content{
    padding: 20px 0;
  }
  strong{
    font-size: 30px;
    padding-bottom: 15px;
  }
  .intro-content p{
    font-size: 15px;
  }
  .intro-content img{
    width:100%;
    height:100%;
  }
  .open_time{
  	padding: 20px 0;
  }
  li{
  	list-style: none;
  }
  .news_notice_text ul li{
  	font-size:18px;
  }
  ul{
  padding-left: 0px !important;
  }
  
    @media screen and (min-width:992px){
  .intro-bottom-image{
     width: 100%; 
     height: 500px; 
     background: white url(https://t1.daumcdn.net/cfile/tistory/993563505DC8A67E2D) no-repeat 50% 50%/100% 100% ; 
     background-attachment: fixed;
  }
}
  
  @media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1330px;
}
  }
  
  
  @media screen and (min-width:992px){
   .best-1,.best-2,.best-3{
    padding-top:30px;
 	font-size: 35px;
    font-weight: 500;
    }
  }
  
   @media (min-width:769px) and (max-width:991px){
   .best-1,.best-2,.best-3{
    padding-top:20px;
 	font-size: 25px;
    font-weight: 400;
    }
  }
  .best-1,.best-2,.best-3{
    padding-top:10px;
    }
    
    
    .mainTit {
   
    top: 150px;

    font-size: 40px;
    color: #000;
    text-align: center;
    line-height: 1.3;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.flip-box {
	background-color: transparent;
    width: 100%;
    height: 350px;
    perspective: 1000px;
    padding-bottom: 30px
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #ffffff;
  color: black;
  transform: rotateY(180deg);
  top:90px;
}

@media (min-width:1177px){
.short-gongji{
	display: inline-block;
    width: 360px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 25px;
    float: left;
}
}

@media(min-width:769px) and (max-width:991px){
	.short-gongji{
	display: inline-block;
    width: 120px !important;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 25px;
    float: left;
}
}

@media screen and (max-width:511px){
	.short-gongji{
	display: inline-block;
    width: 235px !important;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 25px;
    float: left;
}
}

@media(max-width:1199px) and (min-width:992px){
	.short-gongji{
	display: inline-block;
    width: 235px !important;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 25px;
    float: left;
}
}

@media (max-width:767px) and (min-width:512px){
	.short-gongji{
	display: inline-block;
    width: 240px !important;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 25px;
    float: left;
}
}
.short-gongji{
	display: inline-block;
    width: 360px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 25px;
    float: left;
}
